<%= error_messages_for 'image' %>

<div class="box">
  <p>
    <%= f.text_field 'name', :label=>l(:field_image_name) -%>
  </p>
  <p>
    <%= f.select 'img_type', {"Data"=>0,'Program'=>1},:label=>l(:field_image_type) -%>
  </p>
  <p>
    <%= f.text_field 'file_name', :label=>l(:field_image_file_name) -%>
  </p>
  <p>
    <%= f.text_field 'svn_repo', :label=>l(:field_image_svn_repo) -%>
  </p>
  <p>
    <%= f.text_field 'svn_path', :label=>l(:field_image_svn_path) -%>
  </p>
  <p>
    <%= f.text_field 'spec', :label=>l(:field_image_spec) -%>
  </p>
  <p>
    <%= f.date_select 'finish_time', :label=>l(:field_image_finish_time) -%>
  </p>
  <p>
    <%= f.text_area 'memo', :label=>l(:field_image_memo), :rows => 5 -%>
  </p>
</div>
