<div class="contextual">
  <%= link_to l(:label_image_new), {:controller => 'images', :action => 'new', :project_id => @project.id},
              :class => 'icon icon-add',:multipart => true %>
</div>

<h2><%= l(:label_image_new) %></h2>

<% labelled_tabular_form_for :image, @image, :url =>{:action => 'new', :project_id => @project},
                             :html => {:multipart => true} do |f|  %>
  <%= render :partial => 'form', :locals => {:f => f}  %>

    <div class="box">
    <p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %></p>
    </div>
    
  <%= submit_tag l(:button_save) -%>
<% end -%>
